In [65]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv), data manipulation as in SQL

In [66]:
initial_df = pd.read_csv('Collisions.csv') # All attributes
# Declaring needed columns
data = pd.DataFrame()
wanted_columns = ['X', 'Y', 'ADDRTYPE','SEVERITYCODE', 'VEHCOUNT', 'INJURIES', 'SERIOUSINJURIES',
                 'FATALITIES', 'JUNCTIONTYPE', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND']
# Constructing new dataset with only those necessary
for c in wanted_columns:
        data[str(c)] = initial_df[c]

Pre process columns to one hot encoding as they are currently texts and a range of ints

In [67]:
data['FATALITIES'] = data['FATALITIES'].apply(lambda x: 1 if x > 0 else 0)
data['INJURIES'] = data['FATALITIES'].apply(lambda x: 1 if x > 0 else 0)

conditions_mapping = {
    'WEATHER': {'Blowing Sand/Dirt': 0,
                'Clear': 1,
                'Fog/Smog/Smoke': 2,
                'Other': 3,
                'Overcast': 4,
                'Partly Cloudy': 5,
                'Raining': 6,
                'Severe Crosswind': 7,
                'Sleet/Hail/Freezing Rain': 8,
                'Snowing': 9,
                'Unknown': 'Unknown'},
    'ROADCOND': {'Dry': 0,
                'Ice': 1,
                'Oil': 2,
                'Other': 3,
                'Sand/Mud/Dirt': 4,
                'Snow/Slush': 5,
                'Standing Water': 6,
                'Unknown': 'Unknown',
                'Wet': 7},
    'LIGHTCOND': {'Dark - No Street Lights': 0,
                    'Dark - Street Lights Off': 1,
                    'Dark - Street Lights On': 2,
                    'Dark - Unknown Lighting': 3,
                    'Dawn': 4,
                    'Daylight': 5,
                    'Dusk': 6,
                    'Other': 7,
                    'Unknown': 'Unknown'},
    'SEVERITYCODE': {'0': 0, '1': 1, '2': 2, '2b': 2, '3': 3},
    'UNDERINFL': {'0': 0, '1': 1, 'N': 0, 'Y': 1},
    'JUNCTIONTYPE': {'At Intersection (but not related to intersection)': 0,
                    'At Intersection (intersection related)': 1,
                    'Driveway Junction': 2,
                    'Mid-Block (but intersection related)': 3,
                    'Mid-Block (not related to intersection)': 4,
                    'Ramp Junction': 5,
                    'Unknown': 'Unknown'},
    'ADDRTYPE': {'Block': 0, 'Intersection': 1}
}

for column, mapping in conditions_mapping.items():
    data[column] = data[column].map(mapping)

# Step 3: Drop rows with undefined values
data = data.dropna('index', 'any')

# Now, data is ready for further analysis

/var/folders/_v/_x_kkn_90rs03yhpp80sb89c0000gn/T/ipykernel_32376/716344903.py:50: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  data = data.dropna('index', 'any')

In [68]:
data = data.drop(data[data['WEATHER'] == 'Unknown'].index)
data = data.drop(data[data['ROADCOND'] == 'Unknown'].index)
data = data.drop(data[data['LIGHTCOND'] == 'Unknown'].index)
data = data.drop(data[data['JUNCTIONTYPE'] == 'Unknown'].index)
data

,X,Y,ADDRTYPE,SEVERITYCODE,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,JUNCTIONTYPE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND
0,-122.386772,47.564720,1.0,2.0,1,0,0,0,1,0.0,1,0,5
1,-122.341806,47.686934,1.0,2.0,2,0,0,0,1,0.0,6,7,2
2,-122.374899,47.668666,0.0,1.0,3,0,0,0,4,0.0,1,0,5
3,-122.300758,47.683047,1.0,1.0,2,0,0,0,1,0.0,6,7,2
6,-122.323569,47.722577,0.0,1.0,2,0,0,0,4,0.0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
221260,-122.335908,47.598750,0.0,1.0,2,0,0,0,3,0.0,4,0,5
221262,-122.314961,47.523468,0.0,2.0,2,0,0,0,4,0.0,1,0,5
221263,-122.334203,47.575576,1.0,1.0,2,0,0,0,1,0.0,1,0,5
221264,-122.310259,47.594214,0.0,1.0,2,0,0,0,2,0.0,1,0,5
221265,-122.342627,47.651619,0.0,2.0,3,0,0,0,4,0.0,1,0,5

In [69]:
data.to_csv('CleanedSeattleData.csv')